{% extends 'base.html.twig' %}

{% block title %}Ma librairie{% endblock %}

{% block body %}

<div class="container mt-5">
  <button type="button" class="btn btn-info float-end">Ajouter un livre</button>
  <table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Page de Couverture</th>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Genre</th>
      <th scope="col">Langue</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><img src="https://img.freepik.com/vecteurs-premium/illustration-icone-test_430232-32.jpg" class="rounded-circle" alt="..." style="width: 70px; height: 70px;"></th>
      <td style="vertical-align: middle;">Games of Thrones</td>
      <td style="vertical-align: middle;">George R.R Martin</td>
      <td style="vertical-align: middle;">Sciences Fiction</td>
      <td style="vertical-align: middle;">Français</td>
    </tr>
  </tbody>
</table>
</div>

{% endblock %}
